<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ryqg.jiaofu.business.mapper.UserMapper">
    <resultMap id="userCredentialMap" type="UserCredentials">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="phone" column="phone"/>
        <result property="password" column="password"/>
        <!-- 嵌套集合映射 -->
        <collection property="roles" ofType="string" javaType="java.util.Set">
            <result column="code"/>
        </collection>
    </resultMap>

    <resultMap id="UserFormMap" type="UserVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <collection
                property="roleIds"
                column="id"
                select="com.ryqg.jiaofu.business.mapper.UserRoleMapper.listRoleIdsByUserId" >
            <result column="role_id" />
        </collection>
    </resultMap>

    <insert id="save" parameterType='User'>
        insert into sus_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId !='' ">user_id,</if>
            <if test="userName != null and userName !='' ">user_name,</if>
            <if test="phone != null and phone !='' ">phone,</if>
            <if test="password != null and password !='' ">password</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId !='' ">#{userId},</if>
            <if test="userName != null and userName !='' ">#{userName},</if>
            <if test="phone != null and phone !='' ">#{phone},</if>
            <if test="password != null and password !='' ">#{password}</if>
        </trim>
    </insert>

    <select id="getUser" resultType="User">
        select * from sys_users
        <where>
            <if test="phone != null and phone != ''">and phone =#{phone}</if>
        </where>
    </select>

    <select id="getAuthCredentialsByPhone" resultMap="userCredentialMap">
        select u.id, u.user_name, u.phone, u.password, r.code
        from sys_users u
                 left join sys_users_roles ur ON u.id = ur.user_id
                 left join sys_roles r ON ur.role_id = r.id
        where u.phone = #{phone}
    </select>

    <select id="getUserForm" resultMap="UserFormMap">
        select *
        from sys_users
        where id = #{userId}
    </select>
    <select id="pageQuery" resultType="User">
        select u.id,u.user_name,u.phone,u.doc_num,u.coin,u.create_time,u.status
        from sys_users u
        <where>
            <if test="!pageQuery.isRoot">
                AND NOT EXISTS (
                SELECT
                1
                FROM sys_users_roles ur
                INNER JOIN sys_roles r ON ur.role_id = r.id
                WHERE
                ur.user_id = u.id
                AND r.code = '${@com.ryqg.jiaofu.common.constants.SecurityConstants@ROOT_ROLE_CODE}'
                )
            </if>
            <if test="pageQuery.phone !=null and pageQuery.phone.trim() neq ''">
                and u.phone = #{pageQuery.phone}
            </if>
            <if test="pageQuery.status !=null">
                and u.status = #{pageQuery.status}
            </if>

            <if test="pageQuery.createTime !=null and pageQuery.createTime.length >=1">
                <bind name="startDate" value="pageQuery.createTime[0]"/>
                and u.create_time <![CDATA[ >= ]]> #{startDate}
            </if>
            <if test="pageQuery.createTime !=null and pageQuery.createTime.length >=2">
                <bind name="endDate" value="@com.ryqg.jiaofu.utils.DateUtils@getEndOfDay(pageQuery.createTime[1])"/>
                and u.create_time <![CDATA[ <= ]]> #{endDate}
            </if>
        </where>

    </select>
</mapper>